<div id="title">
    Game: <br> <%- player_1 %> vs.<br> <%- player_2 %>
</div>
<div class="move-gradient" id="gradient-left"></div>
<div class="move-gradient" id="gradient-right"></div>
<div id="moves">
    <% for(let idx = 0; idx < moves.length;idx++) { %>
        <div class="move-number"><%= idx + 1 %>.</div>
        <div class="move-white"><span><%= moves[idx].white %></span>
            <% if(moves[idx].white_comment.length > 0) { %>
                <img class="comment-small" src="" alt="comment" title="<%= moves[idx].white_comment %>"/>
            <% } %>
        </div>
        <div class="move-black"><span><%= moves[idx].black %></span>
            <% if(moves[idx].black_comment.length > 0) { %>
                <img class="comment-small" src="" alt="comment" title="<%= moves[idx].black_comment %>"/>
            <% } %>
        </div>
    <% } %>
</div>